.facetwp-facet {
    display:none;
}

#header {
    height: 53px;
    display: flex;
    /*flex-direction: row; not necessary, by default*/
    align-items: center;
    justify-content: space-between;
}

#sidebar {
    transition: ease-in-out all 0.3s;
    z-index: 9999;
}

#profile {
    opacity: 0;
    position: absolute;
    transition: ease-in-out all 0.1s;
}

#sidebar #textIcon {
    opacity: 0;
    position: absolute;
    transition: ease-in-out all 0.1s;
}

#sidebar:hover {
    width: 190px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

#sidebar:hover #textIcon {
    opacity: 1;
}

:root {
    scrollbar-color: #9283dd #999999 !important;
    scrollbar-width: thin !important;
}

#scrollbar {
    overflow-y: scroll;
    max-height: 250px;
    scrollbar-width: thin;
}

#scrollbar::-webkit-scrollbar {
    width: 1rem;
}

#scrollbar::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 5px solid transparent;
    background-clip: content-box;
    background-color: #9283dd;
}

