@media (min-width: 300px) and (max-width: 1024px) {
 
  .container [class="absolute flex items-center justify-center w-14 h-14 transform -translate-x-1/2 -translate-y-6 rounded-full left-1/2 sm:translate-y-16"] {
    --tw-translate-y: -2.5rem; 
  }

  .flex [class="flex justify-center py-0"]{
    display: none;
  }.flex[class="flex justify-center py-10"]{
    display: none;
  }
}
 
 